<h1 mat-dialog-title>Cadastrar Produto</h1>
<form #formProduct="ngForm" (ngSubmit)="createProduct(formProduct)">
  <div mat-dialog-content>
      <!-- <mat-form-field appearance="fill" [style.width.%]=100>
        <mat-label>ID</mat-label>
        <input matInput type="number" name="id" required ngModel>
      </mat-form-field>
      <br> -->
      <mat-form-field appearance="fill" [style.width.%]=100>
        <mat-label>Nome</mat-label>
        <input matInput name="name" required ngModel>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" [style.width.%]=100>
        <mat-label>Valor</mat-label>
        <input matInput [options]="{ prefix: 'R$ ', align: 'left'}" currencyMask name="value" required ngModel>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button cdkFocusInitial color="primary">Concluir</button>
  </div>
</form>
