<h1 mat-dialog-title>Editar Produto</h1>
<form #formCompany="ngForm" (ngSubmit)="updateCompany(formCompany.value)">
  <div mat-dialog-content>
    <mat-form-field appearance="fill" [style.width.%]=100>
      <mat-label>ID</mat-label>
      <input matInput type="number" name="id" [(ngModel)]="company.id" readonly required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [style.width.%]=100>
      <mat-label>Nome</mat-label>
      <input matInput name="name" [(ngModel)]="company.name" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button type="submit" mat-raised-button cdkFocusInitial color="primary" >Concluir</button>
  </div>
</form>
