<html>
  <mat-toolbar color="accent"> 
    <div class="example-sidenav-content">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="title-center">TESTE ANGULAR</span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="list">
        <h1 mat-subheader background-color="accent">Menu</h1>
        <mat-list-item role="listitem">
          <button mat-button routerLink="">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button routerLink="/list-company">
            <mat-icon>domain</mat-icon>
            <span>Empresas</span>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button routerLink="/list-cart">
            <mat-icon>shopping_cart</mat-icon>
            <span>Carrinhos</span>
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button routerLink="/list-order">
            <mat-icon>format_list_bulleted</mat-icon>
            <span>Pedidos</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    
    <router-outlet></router-outlet>
    
  </mat-drawer-container>
</html>



