table {
    width: 100%;
}

.title-center {
    text-align: center
}

td {
    width: 20%;
}

.container{
    min-height:100vh;
}

.float-right {
    float:right
}

td, th{
    text-align: center !important;
}

.item-center{
    margin: 0 auto;
    display: flex;
 }
